# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      timezone: "Europe/Lisbon"
      day: friday
      time: "09:00"
    rebase-strategy: auto
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - github-actions
    commit-message:
      prefix: "ci"
      include: scope

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      timezone: "Europe/Lisbon"
      day: friday
      time: "09:00"
    rebase-strategy: auto
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - npm
    commit-message:
      prefix: "deps"
      include: scope
    groups:
      dev-dependencies:
        dependency-type: development
        update-types:
          - minor
          - patch
        patterns:
          - "@types/*"
          - "eslint*"
          - "prettier*"
          - "vitest*"
          - "*-config"
      production-dependencies:
        dependency-type: production
        update-types:
          - minor
          - patch
      major-updates:
        update-types:
          - major
