min_version = "2025.12.13"

[settings]
lockfile = true

[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"

# Set up the path for node module binaries
_.path = ['{{config_root}}/node_modules/.bin']
BIN_PATH = "{{ config_root }}/node_modules/.bin"

NODE_ENV = "{{ env.NODE_ENV | default(value='development') }}"

[tools]
# Install Node.js using the specified version
node = "{{ env['NODE_VERSION'] | default(value='lts') }}"
npm = "{{ env['NPM_VERSION'] | default(value='11.7.0') }}"

[task_config]
dir = "{{cwd}}"
includes = [
  "mise/tasks/eslint.toml",
  "mise/tasks/meta.toml",
  "mise/tasks/npm.toml",
  "mise/tasks/prettier.toml",
  "mise/tasks/rollup.toml",
  "mise/tasks/storybook.toml",
  "mise/tasks/typescript.toml",
]
