name: Feature Branch

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency: preview-${{ github.ref }}

jobs:
  sanity:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-sanity.yml
    permissions:
      contents: read
      pull-requests: write
      checks: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  build-library:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-build-library.yml
    permissions:
      attestations: write
      id-token: write
      contents: write # semantic-release requires permission even in dry-run mode
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
      npm_token: ${{secrets.NPM_TOKEN}}
    with:
      artifact_name: "npm-package-artifact"

  build-storybook:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-build-storybook.yml
    permissions:
      contents: read
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  deployment:
    if: github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: ["build-storybook"]
    permissions:
      contents: write
      pull-requests: write
    environment:
      name: github-pages
      url: ${{ steps.preview.outputs.deployment-url }}
    outputs:
      environment_url: ${{ steps.preview.outputs.deployment-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 #v7.0.0
        with:
          name: storybook-static
          path: ./storybook-static/

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@5fd5f8e2f88e735fc3d1151302b32242037e3962 #v.1.8.0
        id: "preview"
        with:
          custom-url: percoct-ui.yld.engineering
          source-dir: ./storybook-static/

  tests:
    if: github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false
    needs: ["deployment"]
    uses: "./.github/workflows/workflow-tests.yml"
    permissions:
      contents: write # required to push commits to the wiki
      pull-requests: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    with:
      storybook_url: ${{ needs.deployment.outputs.environment_url }}
