name: Push

on:
  push:
    branches:
      - main

concurrency: preview-${{ github.ref }}

jobs:
  sanity:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Prettier
        uses: EPMatt/reviewdog-action-prettier@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning
          fail_on_error: true

      - name: Lint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          level: warning
          fail_level: "error"

      - name: Typecheck
        uses: EPMatt/reviewdog-action-tsc@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning
          fail_on_error: true

  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Build Storybook
        run: |
          npm ci
          npm run build-storybook

      - uses: actions/upload-artifact@v4
        with:
          name: storybook-static
          path: storybook-static/

  deployment:
    runs-on: ubuntu-20.04
    needs: ["build"]
    outputs:
      deployment-url: ${{ steps.preview.outputs.deployment-url }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          name: storybook-static
          path: ./storybook-static/

      - uses: JamesIves/github-pages-deploy-action@v4
        name: Deploy preview
        id: "preview"
        with:
          folder: storybook-static
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

  tests:
    runs-on: ubuntu-20.04
    container:
      image: mcr.microsoft.com/playwright:v1.49.1-noble
      options: --user 1001
    needs: ["deployment"]
    permissions:
      contents: write
      pull-requests: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install project dependencies
        run: npm ci

      - name: Run Component Tests
        run: |
          npm run test-storybook -- --url https://percoct-ui.yld.engineering
          npm run convert-coverage

      - name: Coverage Diff
        uses: Couto/coverage-diff-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-filename: "./coverage/storybook/converted/coverage-summary.json"
          base-summary-filename: base-summary.json
