name: Push

on:
  push:
    branches:
      - main

jobs:
  sanity:
    uses: ./.github/workflows/workflow-sanity.yml
    permissions:
      contents: read
      pull-requests: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  build-storybook:
    uses: ./.github/workflows/workflow-build-storybook.yml
    permissions:
      contents: read
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  build-library:
    uses: ./.github/workflows/workflow-build-library.yml
    permissions:
      attestations: write
      id-token: write
      contents: write # semantic-release requires permission even in dry-run mode
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
      npm_token: ${{secrets.NPM_TOKEN}}
    with:
      artifact_name: "npm-package-artifact"

  deployment:
    runs-on: ubuntu-latest
    needs: ["sanity", "build-storybook", "build-library"]
    permissions:
      contents: write
    outputs:
      environment_url: https://percoct-ui.yld.engineering
    environment:
      name: github-pages
      url: https://percoct-ui.yld.engineering
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: storybook-static
          path: ./storybook-static/

      - uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a #v4.7.6
        name: Deploy preview
        id: "preview"
        with:
          folder: storybook-static
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

  tests:
    needs: ["deployment"]
    uses: "./.github/workflows/workflow-tests.yml"
    permissions:
      contents: write # required to push commits to the wiki
      pull-requests: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    with:
      storybook_url: ${{ needs.deployment.outputs.environment_url }}

  release:
    needs: ["tests"]
    uses: "./.github/workflows/workflow-release.yml"
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    with:
      artifact_name: npm-package-artifact

  publish:
    needs: ["release"]
    uses: "./.github/workflows/workflow-publish.yml"
    permissions:
      packages: write
      contents: read
      id-token: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    with:
      artifact_name: npm-package-artifact
      version: ${{needs.build-library.outputs.version}}
