name: Push

on:
  push:
    branches:
      - main

concurrency: preview-${{ github.ref }}

jobs:
  sanity:
    uses: ./.github/workflows/workflow-sanity.yml
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    if: github.event.action != 'closed' && github.event.pull_request.draft == false

  build:
    uses: ./.github/workflows/workflow-build.yml
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    if: github.event.action != 'closed' && github.event.pull_request.draft == false

  deployment:
    runs-on: ubuntu-20.04
    needs: ["build"]
    outputs:
      deployment-url: ${{ steps.preview.outputs.deployment-url }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          name: storybook-static
          path: ./storybook-static/

      - uses: JamesIves/github-pages-deploy-action@v4
        name: Deploy preview
        id: "preview"
        with:
          folder: storybook-static
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

  tests:
    runs-on: ubuntu-20.04
    needs: ["deployment"]
    permissions:
      contents: write
      pull-requests: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install project dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install chromium --with-deps

      - name: Run Component Tests
        run: |
          npm run test-storybook -- --url https://percoct-ui.yld.engineering
          npm run convert-coverage

      - name: Coverage Diff
        uses: Couto/coverage-diff-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-filename: "./coverage/storybook/converted/coverage-summary.json"
          base-summary-filename: base-summary.json
