name: Feature Branch

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency: preview-${{ github.ref }}

jobs:
  sanity:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-sanity.yml
    permissions:
      contents: read
      pull-requests: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  build-library:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-build-library.yml
    permissions:
      attestations: write
      id-token: write
      contents: write # semantic-release requires permission even in dry-run mode
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
      npm_token: ${{secrets.NPM_TOKEN}}
    with:
      artifact_name: "npm-package-artifact"

  build-storybook:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-build-storybook.yml
    permissions:
      contents: read
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  deployment:
    if: github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    needs: ["build-storybook"]
    permissions:
      contents: write
      pull-requests: write
    environment:
      name: github-pages
      url: ${{ steps.preview.outputs.deployment-url }}
    outputs:
      environment_url: ${{ steps.preview.outputs.deployment-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: storybook-static
          path: ./storybook-static/

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@9f77b1d057b494e662c50b8ca40ecc63f21e0887 #v.1.6.2
        id: "preview"
        with:
          custom-url: percoct-ui.yld.engineering
          source-dir: ./storybook-static/

  tests:
    if: github.actor != 'dependabot[bot]' && github.event.pull_request.draft == false
    needs: ["deployment"]
    uses: "./.github/workflows/workflow-tests.yml"
    permissions:
      contents: write # required to push commits to the wiki
      pull-requests: write
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    with:
      storybook_url: ${{ needs.deployment.outputs.environment_url }}
