name: Feature Branch

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency: preview-${{ github.ref }}

jobs:
  sanity:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-sanity.yml
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  build:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/workflow-build.yml
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}

  deployment:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    needs: ["build"]
    environment:
      name: github-pages
      url: ${{ steps.preview.outputs.deployment-url }}
    outputs:
      environment_url: ${{ steps.preview.outputs.deployment-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          name: storybook-static
          path: ./storybook-static/

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        id: "preview"
        with:
          custom-url: percoct-ui.yld.engineering
          source-dir: ./storybook-static/

  tests:
    if: github.event.pull_request.draft == false
    needs: ["deployment"]
    uses: "./.github/workflows/workflow-tests.yml"
    secrets:
      repo_token: ${{secrets.GITHUB_TOKEN}}
    with:
      storybook_url: ${{ needs.deployment.outputs.environment_url }}

  release-preview:
    name: Release Preview
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Release
        uses: huggingface/semver-release-action@v1.1.0
        with:
          dryRun: true
