name: Release

on:
  release:
    types: [released]

  workflow_dispatch:
    inputs:
      version:
        description: "Version tag that match the release"
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version: 20
          cache: "npm"
          registry-url: "https://npm.pkg.github.com"
          scope: "@${{ github.repository_owner }}"

      - uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 #v1.12
        with:
          tag: ${{inputs.version}}
          extract: true
          out-file-path: "release-files"

      - run: ls

      - run: ls release-files

      - run: |
          cp release-files/* ./
          npm publish --provenance-file attestation.json --access public yldio-percoct-*.tgz
