name: Build Library

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-20.04
    outputs:
      manifest: ${{ steps.pack.outputs.manifest }}
      tarball: ${{steps.pack.outputs.tarball}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Verify dependencies provenance
        run: npm audit signatures

      - name: Build Library
        run: npm run build

      - name: Pack library
        id: pack
        run: |
          npm pack
          npm pack --json > manifest.json
          echo "manifest=$(jq -c . < manifest.json)" >> $GITHUB_OUTPUT
          echo "tarball=$(jq -r '.[0].filename' < manifest.json)" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          name: ${{steps.pack.outputs.tarball}}
          path: |
            manifest.json
            ${{steps.pack.outputs.tarball}}

  test:
    if: github.event.pull_request.draft == false
    needs: ["build"]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{steps.build-library.outputs.tarball}}
          path: "./"

      - name: Setup NPM Project
        run: npm init -y

      - name: Install Library and Peer Dependencies
        run: npm install -S react ${{steps.build-library.outputs.tarball}}

      - run: ls -la
      - run: ls -la node_modules

      - name: Smoke Test import
        run: |
          echo "import { Button } from '@yldio/percoct-ui'" > index.mjs
          echo "const { Button } = require('@yldio/percoct-ui')" > index.js
          node index.mjs
          node index.js
