name: Sanity Checks
on:
  workflow_call:
    inputs: {}
    secrets:
      repo_token:
        required: true

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_OPTIONS: "--max-old-space-size=4096"

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write # Needed for PR Review comments
      checks: write # For review dog to post check results
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 #v3.5.1
        with:
          version: 2025.12.13
          github_token: ${{ secrets.repo_token }}

      - name: Install dependencies
        run: mise run ci
        continue-on-error: false

      - name: Prettier
        uses: EPMatt/reviewdog-action-prettier@f691104cbeb4b0299df971275444c64be93c03ae #v1.3.0
        with:
          github_token: ${{ secrets.repo_token }}
          reporter: ${{ github.event_name == 'push' && 'github-check' || 'github-pr-review' }}
          level: warning
          fail_on_error: true

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write # Needed for PR Review comments
      checks: write # For review dog to post check results
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 #v3.5.1
        with:
          version: 2025.12.13
          github_token: ${{ secrets.repo_token }}

      - name: Install dependencies
        run: mise run ci
        continue-on-error: false

      - name: Lint
        uses: reviewdog/action-eslint@556a3fdaf8b4201d4d74d406013386aa4f7dab96 #v1.34.0
        with:
          github_token: ${{ secrets.repo_token }}
          reporter: ${{ github.event_name == 'push' && 'github-check' || 'github-pr-review' }}
          level: warning
          fail_level: "error"

  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write # Needed for PR Review comments
      checks: write # For review dog to post check results
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 #v3.5.1
        with:
          version: 2025.12.13
          github_token: ${{ secrets.repo_token }}

      - name: Install dependencies
        run: mise run ci
        continue-on-error: false

      - name: Typecheck
        uses: EPMatt/reviewdog-action-tsc@63d923a3c5b4497671940b8874f58a404e2351b5 #v1.11.0
        with:
          github_token: ${{ secrets.repo_token }}
          reporter: ${{ github.event_name == 'push' && 'github-check' || 'github-pr-review' }}
          level: warning
          fail_level: "error"
