name: Sanity Checks
permissions:
  contents: read
  pull-requests: write

on:
  workflow_call:
    inputs: {}
    secrets:
      repo_token:
        required: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Verify dependencies provenance
        run: npm audit signatures

      - name: Prettier
        uses: EPMatt/reviewdog-action-prettier@f691104cbeb4b0299df971275444c64be93c03ae #v1.3.0
        with:
          github_token: ${{ secrets.repo_token }}
          reporter: ${{ github.event_name == 'push' && 'github-check' || 'github-pr-review' }}
          level: warning
          fail_on_error: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Verify dependencies provenance
        run: npm audit signatures

      - name: Lint
        uses: reviewdog/action-eslint@556a3fdaf8b4201d4d74d406013386aa4f7dab96 #v1.34.0
        with:
          github_token: ${{ secrets.repo_token }}
          reporter: ${{ github.event_name == 'push' && 'github-check' || 'github-pr-review' }}
          level: warning
          fail_level: "error"

  typescript:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Verify dependencies provenance
        run: npm audit signatures

      - name: Typecheck
        uses: EPMatt/reviewdog-action-tsc@5160234c919547239e8451fa8e839691eab732e8 #v1.10.0
        with:
          github_token: ${{ secrets.repo_token }}
          reporter: ${{ github.event_name == 'push' && 'github-check' || 'github-pr-review' }}
          level: warning
          fail_level: "error"
