name: Build Storybook
permissions:
  contents: read

on:
  workflow_call:
    inputs: {}
    secrets:
      repo_token:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 #v3.5.1
        with:
          version: 2025.12.13
          github_token: ${{ secrets.repo_token }}

      - name: Install dependencies
        run: mise run ci
        continue-on-error: false

      - name: Build Storybook
        run: mise run storybook:build

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: storybook-static
          path: storybook-static/
