name: Tests
permissions:
  contents: write # required to push commits to the wiki
  pull-requests: write

on:
  workflow_call:
    inputs:
      storybook_url:
        required: true
        type: string
    secrets:
      repo_token:
        required: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Verify dependencies provenance
        run: npm audit signatures

      - name: Install Playwright
        run: npx playwright install chromium --with-deps

      - name: Run Component Tests
        run: |
          npm run test-storybook -- --url ${{ inputs.storybook_url }}
          npm run convert-coverage

      - name: Coverage Diff
        uses: Couto/coverage-diff-action@master
        with:
          github-token: ${{ secrets.repo_token }}
          coverage-filename: "./coverage/storybook/converted/coverage-summary.json"
