name: Tests
permissions:
  contents: write # required to push commits to the wiki
  pull-requests: write

on:
  workflow_call:
    inputs:
      storybook_url:
        required: true
        type: string
    secrets:
      repo_token:
        required: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 #v3.5.1

      - name: Install dependencies
        run: npm ci

      - name: Verify dependencies provenance
        run: npm audit signatures

      - name: Install Playwright
        run: npx playwright install chromium --with-deps

      - name: Run Component Tests
        run: |
          npm run test-storybook -- --url ${INPUTS_STORYBOOK_URL}
          npm run convert-coverage
        env:
          INPUTS_STORYBOOK_URL: ${{ inputs.storybook_url }}

      - name: Coverage Diff
        uses: Couto/coverage-diff-action@a13e8d98b7ec46740935a78de55dd62c32332b73 # master
        with:
          github-token: ${{ secrets.repo_token }}
          coverage-filename: "./coverage/storybook/converted/coverage-summary.json"
